{% assign success_message = '' %}
{% assign error_message = '' %}

<div class="newsletter-subscription">
  {% if block.settings.title != blank %}
    <h4>{{ block.settings.title | escape }}</h4>
  {% endif %}

  {% form 'customer', class: 'newsletter-subscription-form' %}
      <input class="newsletter-email" name="contact[email]" type="email" placeholder="your@email.com" value="">
      <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
</div>
<div>
  <br>
  <button class="newsletter-submit-button" type="Submit">{% render 'icon' with 'mail' %}</button></div>
      {% if form.posted_successfully? %}
        {% capture success_message %}
          <p class="newsletter-success">
            {{ 'general.general.newsletter_success' | t }}
          </p>
        {% endcapture %}
    {% endif %}
    {% if form.errors.size > 0 %}
      {% capture error_message %}
        <p class="newsletter-error">
          {{ form.errors | default_errors }}
        </p>
      {% endcapture %}
    {% endif %}
  {% endform %}

  {{ success_message }}
  {{ error_message }}
</div>
