{% layout none %}
{% assign current_count = 0 %}
{% assign prdlimit = 40 %}
{% capture spof_check %}{% include 'spof_limit' %}{% endcapture %}

{% if spof_check !='Liquid error: Could not find asset snippets/spof_limit.liquid' %}
   {% include 'spof_limit' %}
{% endif %}

{% paginate search.results by prdlimit  %}
{% assign CountTotal = search.results_count %}
{% assign custom_tags = true %}


{% capture output %}
{
	"TotalProductCount" : "{{CountTotal}}",
	"Page_Num": "{{paginate.current_page}}",
    "Product_Items":
        [
{% assign sort_list =  search.results | sort: 'title' %}
            {% for item in sort_list %}
 {% capture the_wlm_snippet_content %}{% include 'wlm-search' with item %}{% endcapture %}
{%- unless the_wlm_snippet_content contains 'Liquid error' -%}
{% include 'wlm-search' with item %}
{%- endunless -%}

				{% assign current_count = current_count | plus: 1 %}

                {% assign customer_tags_value = item.metafields.Webuick.hide_customer_es_tags %}
                {% assign visibility = item.metafields.quick.products %}
                {% assign customer_tags_array = item.metafields.Webuick.hide_customer_es_tags | split: ',' %}
                {% assign isShowTo = shop.metafields.wof_show_hide.show_hide %}
                {% if isShowTo == 'show_to' %}
                {% assign showProduct = false %}
                {% else %}
                {% assign showProduct = true %}
                {% endif  %}

                {% case visibility %}

                  {% when "show_es_products_app" %}

                     {% if customer_tags_value != blank %}

                        {% for customer_tag_value in customer_tags_array %}


                            {% assign customer_tag = customer_tag_value | downcase | strip %}
                            {% for tag_value in customer.tags %}
                                {% assign tag = tag_value | downcase | strip %}
                                {% if tag == customer_tag %}
                                    {% if isShowTo == 'show_to' %}
                                        {% assign showProduct = true %}
                                    {% else %}
                                        {% assign showProduct = false %}
                                    {% endif  %}
                                    {% continue %}
                                {% endif  %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% assign showProduct = true %}
                    {% endif %}

                {% when "hide_es_products_app" %}

                     {% assign showProduct = false %}

                  {% when "guest_user" %}

                     {% unless customer %}
                        {% assign showProduct = false %}
                     {% else %}
                        {% assign showProduct = true %}
                     {% endunless %}

					{% else %}

					{% if customer_tags_value != blank %}

                        {% for customer_tag_value in customer_tags_array %}

                            {% assign customer_tag = customer_tag_value | downcase | strip %}
                            {% for tag_value in customer.tags %}
                                {% assign tag = tag_value | downcase | strip %}
                                {% if tag == customer_tag %}
                                    {% if isShowTo == 'show_to' %}
                                        {% assign showProduct = true %}
                                    {% else %}
                                        {% assign showProduct = false %}
                                    {% endif  %}
                                    {% continue %}
                                {% endif  %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% assign showProduct = true %}
                    {% endif %}

                {% endcase %}



                {% if showProduct == true %}

{% include 'wcp_discount' with item %}
{% include 'wcp_variant' with item.selected_or_first_available_variant %}
{% include 'wcp_vd_product' with item %}

                {% assign resultURL = item.url %}
                {% assign thumbURL = item.images[0] | product_img_url: 'thumb' %}
                {% assign MediumImage = item.images[0] | product_img_url: 'medium' %}


                {
 					"wcp_vd_HTML_table":"{{wcp_vd_HTML_table}}",
					"isShowTo":"{{isShowTo}}",
					"showProduct":"{{showProduct}}",
					"visibility":"{{visibility}}",
					"customerTags":"{{customer_tags_value}}",
					"SpofQty": "{{ item.metafields.spofSteps.spofqty }}"
                    ,"meta": "{{ item.metafields.quick.products }}"
				    ,"ProductId"  : "{{item.id}}"
                    ,"Color":"{% include 'esf-rem-slash' with item.options %}"
					,"option1":"{% include 'esf-rem-slash' with item.options[0] %}"
					,"option2": "{% include 'esf-rem-slash' with item.options[1] %}"
					,"option3":"{% include 'esf-rem-slash' with item.options[2] %}"
					,"ProductTitle":"{% include 'esf-rem-slash' with item.title %}"
                    ,"ProductMinPrice":"{{wcp_price_min | money}}" 
                    ,"ProductMaxPrice":"{{ wcp_price_max | money }}"
                    ,"ProductDescription":{{ item.description | json }}
					,"ProductImages" : [{"img_src" : "{% include 'esf-rem-slash' with thumbURL %}"}]
                    ,"ProductMediumImages" : [{"med_img_src" : "{% include 'esf-rem-slash' with MediumImage %}"}]
					,"Productvariants":
					[
						{% for varnts in item.variants %}{% include 'wcp_variant' with varnts %}
							{
 							{% assign strikeThroughPrice = '' %}
                            {% if wcp_v_compare_at_price != blank and wcp_v_compare_at_price > wcp_v_price %}
                                {% assign strikeThroughPrice = wcp_v_compare_at_price %}
                            {% else if wcp_v_price != blank and wcp_v_price != varnts.price %}
                                {% assign strikeThroughPrice = varnts.price %}
                            {% endif %}
                                {% assign Vrnt_thumbURL = varnts.image.src | product_img_url: 'thumb' %}

								 "vrnt_id":"{{varnts.id}}"
                                 ,"vrnt_option1":"{% include 'esf-rem-slash' with varnts.option1 %}"
                                 ,"vrnt_option2":"{% include 'esf-rem-slash' with varnts.option2 %}"
                                 ,"vrnt_option3":"{% include 'esf-rem-slash' with varnts.option3 %}"
								 ,"vrnt_sku":"{% include 'esf-rem-slash' with varnts.sku %}"
 								,"vrnt_title":"{%  include 'esf-rem-slash' with varnts.title %}"
								 {% if customer and strikeThroughPrice != wcp_v_price  %}
                                ,"vrnt_price":"<s>{{strikeThroughPrice | money}}</s><p>{{wcp_v_price | money}}</p>"
                                {% else %}
                                ,"vrnt_price":"{{wcp_v_price | money}}"
                                {% endif %}
 								,"vrnt_price_raw":"{{wcp_v_price}}"
								,"vrnt_compare_at_price":"{{wcp_v_compare_at_price | money}}"
                                ,"vrnt_compare_at_price_raw":"{{wcp_v_compare_at_price}}"
								,"vrnt_inventory_management":"{{varnts.inventory_management}}"
								,"vrnt_inventory_policy":"{{varnts.inventory_policy}}"
								,"vrnt_inventory_quantity":"{{varnts.inventory_quantity}}"
                                ,"vrnt_img": [{ "vrnt_img_src": "{% include 'esf-rem-slash' with Vrnt_thumbURL %}"}]
							}
						{% unless forloop.last %},{% endunless %}
						{% endfor %}

					]
                },

               {% endif %}
            {% endfor %}
{}
        ],
"current_count": "{{current_count}}"
}
{% endcapture %}
{% endpaginate %}
{{ output | strip_newlines }}

{% schema %}
  {
    "name": "esf search pro",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
