{%- assign currency_selector = section.settings.show_currency_selector -%}
{%- assign locale_selector = section.settings.show_locale_selector -%}

<div data-section-id="{{ section.id }}" data-section-type="footer">

  {% assign modulesCount = 0 %}
  {% for block in section.blocks %}
    {% assign modulesCount = modulesCount | plus: 1 %}
  {% endfor %}

  <div class="main-footer-wrapper">
    <footer class="main-footer {% if modulesCount > 0 %}has-border{% endif %}">

      {% if modulesCount > 0 %}
        <div class="footer-modules showing-{{ modulesCount }}-modules">
          {% for block in section.blocks %}
            {%- case block.type -%}
              {%- when 'menus' -%}
                {% render 'footer-link-lists', block: block %}
              {%- when 'featured-content' -%}
                {% render 'footer-text-box', block: block %}
              {%- when 'tweet' -%}
                {% render 'footer-tweet', block: block %}
              {%- when 'connect' -%}
                {% render 'footer-connect', block: block %}
            
            {% endcase %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="sub-footer">
        <div class="sub-footer__cross-border">
          {% comment %}Inject @pixelunion/shopify-cross-border/cross-border begin{% endcomment %}
          {% form 'localization' %}
            {% if locale_selector and form.available_locales.size > 1 %}
              {% comment %}Inject @pixelunion/shopify-cross-border/multi-language begin{% endcomment %}
              {% comment %} Generate a "random" number so ids are unique {% endcomment %}
              {% assign unique_id = "now" | date: "%N" | modulo: 1000 %}
              
              <div class="selectors-form__item">
                <div class="disclosure" data-disclosure-locale>
                  <h2 class="visually-hidden" id="lang-heading-{{ unique_id }}">
                    {{ 'general.language.dropdown_label' | t }}
                  </h2>
              
                  <button
                    type="button"
                    class="disclosure__toggle"
                    aria-expanded="false"
                    aria-controls="lang-list-{{ unique_id }}"
                    aria-describedby="lang-heading-{{ unique_id }}"
                    data-disclosure-toggle
                  >
                    {{ form.current_locale.endonym_name }}
                  </button>
                  <ul id="lang-list-{{ unique_id }}" class="disclosure-list" data-disclosure-list>
                    {% for locale in form.available_locales %}
                      <li>
                        <a class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                          <span class="disclosure-list__option">{{ locale.endonym_name }}</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="locale_code" id="LocaleSelector-{{ unique_id }}" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                </div>
              </div>
              {% comment %}Inject @pixelunion/shopify-cross-border/multi-language end{% endcomment %}
          
            {% endif %}
          
            {% if currency_selector and form.available_currencies.size > 1 %}
              {% comment %}Inject @pixelunion/shopify-cross-border/multi-currency begin{% endcomment %}
              {% comment %} Generate a "random" number so ids are unique {% endcomment %}
              {% assign unique_id = "now" | date: "%N" | modulo: 1000 %}
              
              <div class="selectors-form__item">
                <div class="disclosure" data-disclosure-currency>
                  <h2 class="visually-hidden" id="currency-heading-{{ unique_id }}">
                    {{ 'general.currency.dropdown_label' | t }}
                  </h2>
              
                  <button
                    type="button"
                    class="disclosure__toggle"
                    aria-expanded="false"
                    aria-controls="currency-list-{{ unique_id }}"
                    aria-describedby="currency-heading-{{ unique_id }}"
                    data-disclosure-toggle
                  >
                    {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                  </button>
                  <ul id="currency-list-{{ unique_id }}" class="disclosure-list" data-disclosure-list>
                    {% for currency in form.available_currencies %}
                      <li>
                        <a class="disclosure-list__item {% if currency.iso_code == form.current_currency.iso_code %}disclosure-list__item--current{% endif %}" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
                          <span class="disclosure-list__option">{{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="currency_code" id="CurrencySelector-{{ unique_id }}" value="{{ form.current_currency.iso_code }}" data-disclosure-input/>
                </div>
              </div>
              {% comment %}Inject @pixelunion/shopify-cross-border/multi-currency end{% endcomment %}
          
            {% endif %}
          {% endform %}
          {% comment %}Inject @pixelunion/shopify-cross-border/cross-border end{% endcomment %}

          {% if shop.enabled_payment_types.size > 0 and section.settings.show-payment-options %}
            <div class="payment-options">
              {% for type in shop.enabled_payment_types %}
                {{ type | payment_type_svg_tag }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="sub-footer__copyright">
          {% capture year %}
            {{ "now" | date: "%Y" }}
          {% endcapture %}

          {% capture shopName %}{{ shop.name | link_to: routes.root_url }}{% endcapture %}

          <p role="contentinfo">
            {{ 'layout.footer.copyright_html' | t: year: year, shop_name: shopName }}
          </p>
        </div>
      </div>

    </footer>
  </div>

  <div class="modal-wrapper">
    <div class="modal-content">
      <h2 class="modal-title"></h2>

      <div class="modal-message rte"></div>

      <span class="modal-close modal-close-secondary">{{ 'general.general.close' | t }}</span>
    </div>
  </div>

</div>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "checkbox",
      "id": "show-payment-options",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Language Selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency Selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "menus",
      "name": "Menus",
      "settings": [
        {
          "type": "link_list",
          "id": "footer-link-list-1",
          "label": "Menu 1",
          "info": "This menu won't show dropdown items.",
          "default": "footer"
        }
      ],
      "limit": 3
    },
    {
      "type": "featured-content",
      "name": "Rich text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Rich text"
        },
        {
          "type": "richtext",
          "id": "footer-text-box",
          "label": "Text",
          "default": "<p>Use this section to welcome customers to your store, say a bit about your brand, or share news and seasonal promotions.</p>"
        }
      ],
      "limit": 1
    },
    {
      "type": "tweet",
      "name": "Twitter feed",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Twitter feed"
        },
        {
          "type": "text",
          "id": "twitter-id",
          "label": "Username",
          "info": "Note: Don't include the '@' symbol."
        },
        {
          "type": "checkbox",
          "id": "twitter-retweets",
          "label": "Show retweets"
        }
      ],
      "limit": 1
    },
    {
      "type": "connect",
      "name": "Newsletter / social links",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "checkbox",
          "id": "show-mailing-list",
          "label": "Show newsletter"
        },
        {
          "type": "checkbox",
          "id": "show-social-links",
          "label": "Show social links"
        }
      ],
      "limit": 1
    }
  ]
}

{% endschema %}